@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/merriweather";

@custom-variant dark (&:is(.dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-headline-xl: 'Space Grotesk', sans-serif;
    --font-headline-lg: 'Space Grotesk', sans-serif;
    --font-headline-md: 'Space Grotesk', sans-serif;
    --font-label-mono: 'Space Grotesk', sans-serif;
    --font-body-lg: 'Space Grotesk', sans-serif;
    --font-body-md: 'Space Grotesk', sans-serif;
    --font-data-point: 'Space Grotesk', sans-serif;

    --text-headline-xl: 40px;
    --text-headline-xl--line-height: 48px;
    --text-headline-xl--letter-spacing: -0.02em;
    --text-headline-xl--font-weight: 700;

    --text-headline-lg: 32px;
    --text-headline-lg--line-height: 40px;
    --text-headline-lg--letter-spacing: -0.01em;
    --text-headline-lg--font-weight: 600;

    --text-headline-md: 24px;
    --text-headline-md--line-height: 32px;
    --text-headline-md--font-weight: 600;

    --text-label-mono: 14px;
    --text-label-mono--line-height: 20px;
    --text-label-mono--letter-spacing: 0.05em;
    --text-label-mono--font-weight: 500;

    --text-body-lg: 18px;
    --text-body-lg--line-height: 28px;
    --text-body-lg--font-weight: 400;

    --text-body-md: 16px;
    --text-body-md--line-height: 24px;
    --text-body-md--font-weight: 400;

    --text-data-point: 12px;
    --text-data-point--line-height: 16px;
    --text-data-point--font-weight: 700;

    --color-on-error: #690005;
    --color-tertiary: #c8c5cc;
    --color-secondary-fixed-dim: #c8c5cb;
    --color-error: #ffb4ab;
    --color-secondary: #c8c5cb;
    --color-inverse-surface: #e5e1e4;
    --color-on-primary-container: #fff8f6;
    --color-tertiary-container: #737278;
    --color-surface-tint: #ffb4ab;
    --color-surface-bright: #39393b;
    --color-inverse-primary: #c00014;
    --color-outline-variant: #5d3f3c;
    --color-primary-fixed: #ffdad6;
    --color-on-secondary-container: #b6b4b9;
    --color-surface-container: #201f21;
    --color-outline: #ad8884;
    --color-surface-container-high: #2a2a2c;
    --color-secondary-container: #47464b;
    --color-on-primary-fixed: #410002;
    --color-surface-container-highest: #353437;
    --color-surface: #131315;
    --color-on-primary: #690006;
    --color-inverse-on-surface: #313032;
    --color-primary-container: #df2225;
    --color-error-container: #93000a;
    --color-on-secondary: #303034;
    --color-on-secondary-fixed: #1b1b1f;
    --color-on-tertiary-fixed-variant: #46464c;
    --color-surface-container-lowest: #0e0e10;
    --color-on-tertiary-fixed: #1b1b20;
    --color-on-error-container: #ffdad6;
    --color-on-primary-fixed-variant: #93000c;
    --color-surface-dim: #131315;
    --color-secondary-fixed: #e4e1e7;
    --color-on-secondary-fixed-variant: #47464b;
    --color-on-surface-variant: #e6bdb8;
    --color-primary: #ffb4ab;
    --color-on-tertiary: #303035;
    --color-background: #131315;
    --color-tertiary-fixed: #e4e1e8;
    --color-surface-container-low: #1b1b1d;
    --color-on-surface: #e5e1e4;
    --color-on-background: #e5e1e4;
    --color-surface-variant: #353437;
    --color-tertiary-fixed-dim: #c8c5cc;
    --color-primary-fixed-dim: #ffb4ab;
    --color-on-tertiary-container: #fbf8ff;
}

@theme inline {
    --font-heading: var(--font-serif);
    --font-serif: 'Merriweather Variable', serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.3);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.147 0.004 49.3);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.147 0.004 49.3);
    --primary: oklch(0.214 0.009 43.1);
    --primary-foreground: oklch(0.986 0.002 67.8);
    --secondary: oklch(0.96 0.002 17.2);
    --secondary-foreground: oklch(0.214 0.009 43.1);
    --muted: oklch(0.96 0.002 17.2);
    --muted-foreground: oklch(0.547 0.021 43.1);
    --accent: oklch(0.214 0.009 43.1);
    --accent-foreground: oklch(0.986 0.002 67.8);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0.005 34.3);
    --input: oklch(0.922 0.005 34.3);
    --ring: oklch(0.714 0.014 41.2);
    --chart-1: oklch(0.868 0.007 39.5);
    --chart-2: oklch(0.547 0.021 43.1);
    --chart-3: oklch(0.438 0.017 39.3);
    --chart-4: oklch(0.367 0.016 35.7);
    --chart-5: oklch(0.268 0.011 36.5);
    --radius: 0.625rem;
    --sidebar: oklch(0.986 0.002 67.8);
    --sidebar-foreground: oklch(0.147 0.004 49.3);
    --sidebar-primary: oklch(0.214 0.009 43.1);
    --sidebar-primary-foreground: oklch(0.986 0.002 67.8);
    --sidebar-accent: oklch(0.96 0.002 17.2);
    --sidebar-accent-foreground: oklch(0.214 0.009 43.1);
    --sidebar-border: oklch(0.922 0.005 34.3);
    --sidebar-ring: oklch(0.714 0.014 41.2);
}

.dark {
    --background: oklch(0.147 0.004 49.3);
    --foreground: oklch(0.986 0.002 67.8);
    --card: oklch(0.214 0.009 43.1);
    --card-foreground: oklch(0.986 0.002 67.8);
    --popover: oklch(0.214 0.009 43.1);
    --popover-foreground: oklch(0.986 0.002 67.8);
    --primary: oklch(0.922 0.005 34.3);
    --primary-foreground: oklch(0.214 0.009 43.1);
    --secondary: oklch(0.268 0.011 36.5);
    --secondary-foreground: oklch(0.986 0.002 67.8);
    --muted: oklch(0.268 0.011 36.5);
    --muted-foreground: oklch(0.714 0.014 41.2);
    --accent: oklch(0.922 0.005 34.3);
    --accent-foreground: oklch(0.214 0.009 43.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.547 0.021 43.1);
    --chart-1: oklch(0.868 0.007 39.5);
    --chart-2: oklch(0.547 0.021 43.1);
    --chart-3: oklch(0.438 0.017 39.3);
    --chart-4: oklch(0.367 0.016 35.7);
    --chart-5: oklch(0.268 0.011 36.5);
    --sidebar: oklch(0.214 0.009 43.1);
    --sidebar-foreground: oklch(0.986 0.002 67.8);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.986 0.002 67.8);
    --sidebar-accent: oklch(0.268 0.011 36.5);
    --sidebar-accent-foreground: oklch(0.986 0.002 67.8);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.547 0.021 43.1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-serif;
    }
}